<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nivel</key>
		<integer>0</integer>
		<key>textPorLetra</key>
		<string>_éxico es un país con mucha diversidad.</string>
		<key>letraAPoner</key>
		<string>m</string>
		<key>textoCompletoMay</key>
		<string>México es un país con mucha diversidad.</string>
		<key>textoCompletoMin</key>
		<string>méxico es un país con mucha diversidad.</string>
		<key>textoPorPalabra</key>
		<string>______ es un país con mucha diversidad.</string>
		<key>sugerenciaPalabra</key>
		<string>México o méxico</string>
		<key>respuesta</key>
		<string>may</string>
		<key>hint</key>
		<string>Los países se escriben con mayúsculas</string>
	</dict>
</array>
</plist>
